<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Club System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
    <nav>
      <p style="text-align:center; color:green; font-size:1em">AUI Club Management System</p>
        <p style="text-align:right"><a href="{{ url_for('index') }}" >Log out</a></p>
        
        <!--<a href="{{ url_for('clubs') }}">Clubs</a> |-->
        <!--<a href="{{ url_for('events') }}">Events</a>-->
    </nav></header>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>{% for msg in messages %}
          <li>{{ msg }}</li>
        {% endfor %}</ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
